.profile .MuiFormLabel-root,
.profile .Mui-disabled {
	color: #ffffff80 !important;
	-webkit-text-fill-color: #bdbdbd !important;
}

.profile input {
	color: #fff !important;
}

.profile .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
	border-color: #ffffff80 !important;
}

.profile
	.MuiInputLabel-root.Mui-focused
	+ .MuiOutlinedInput-root
	.MuiOutlinedInput-notchedOutline {
	border-color: #ffffff80 !important;
}
